.wrap {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  background: #ccc;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.circle::before {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}

.circle::after {
  content: "";
  width: 80%;
  height: 80%;
  background: #fff;
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0, 0) rotate(45deg);
          transform: scale(0, 0) rotate(45deg);
  z-index: 1;
}

.circle span {
  opacity: 0;
}

.circle:hover {
  background: #B4EBEB;
}

.circle:hover::before {
  height: 100%;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.circle:hover::after {
  background: #B4EBEB;
  -webkit-animation-name: square;
          animation-name: square;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.circle:hover span {
  font-family: oswald;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  margin-bottom: -20px;
  z-index: 2;
  color: #36A5A5;
  opacity: 0;
  -webkit-animation: typography .4s linear .8s 1 normal forwards running;
          animation: typography .4s linear .8s 1 normal forwards running;
}

@-webkit-keyframes circle {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes circle {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: scale(0, 0) rotate(45deg);
            transform: scale(0, 0) rotate(45deg);
  }
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 1) rotate(180deg);
            transform: scale(1, 1) rotate(180deg);
  }
  75% {
    -webkit-transform: scale(1, 0.01) rotate(180deg);
            transform: scale(1, 0.01) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(0, 0.01) rotate(180deg);
            transform: scale(0, 0.01) rotate(180deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: scale(0, 0) rotate(45deg);
            transform: scale(0, 0) rotate(45deg);
  }
  10% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 1) rotate(180deg);
            transform: scale(1, 1) rotate(180deg);
  }
  75% {
    -webkit-transform: scale(1, 0.01) rotate(180deg);
            transform: scale(1, 0.01) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(0, 0.01) rotate(180deg);
            transform: scale(0, 0.01) rotate(180deg);
  }
}

@-webkit-keyframes typography {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-bottom: 20px;
  }
}

@keyframes typography {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=circle.css.map */