.hexagon {
	width: 175px;
	height: 100px;
	margin: 100px;
	position: relative;
	display: block;
	background: #ccc;
	animation: rotate360 .4s linear .1s 5 normal forwards running;
	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: #ccc;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&::before {
		transform: rotate( 60deg );
	}
	&::after {
		transform: rotate( -60deg );
	}
}

@keyframes rotate360 {
	0% {
		transform: rotate( 0 );
	}
	100% {
		transform: rotate( 360deg );
	}
}
